@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model  KhufuMobile.Models.ViewModels.LoginModel

<div class="container gc-container">
    <div class="row">
        <div class="col-md-12">
            <div class="form-container table-container">
                <form class="form-horizontal" accept-charset="utf-8" asp-action="Login">
                    @if (Model.Warning != null)
                    {
                    <div asp-validation-summary="ModelOnly" class="text-danger">
                        @Model.Warning
                    </div>
                    }
                    <div class="form-group customerName_form_group gcrud-form-group">
                        <label class="col-sm-3 control-label">
                            Kod
                        </label>
                        <div class="col-sm-9">
                            <input asp-for=@Model.Code class='form-control'   type='text' maxlength='50' />
                            <span asp-validation-for="@Model.Code" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group customerName_form_group gcrud-form-group">
                        <label class="col-sm-3 control-label">
                            Şifre:
                        </label>
                        <div class="col-sm-9">
                            <input asp-for=@Model.Password class='form-control'   type='password' maxlength='50' />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Login" class="btn btn-default" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



